.Game{
  display:grid;
  max-width: 600px;
  grid-template-columns: 0.1fr 0.8fr 0.1fr;
  grid-template-rows: 0.1fr 0.1fr 0.8fr 0.1fr;
  place-items:center;
  border: 2px solid pink;
  border-radius: 10px;
  padding:10px;
  box-shadow: 4px 4px 4px 4px rgba(59, 46, 75, 0.407) ;
}

.game-heading{
  grid-column: 2/3;
  margin:10px 0 10px 0;
  color:red;
}


.game-control{
  grid-column: 2/3;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100px;
}
.game-control button {
    background: none;
    border: 2px solid red;
    padding: 3px 6px;
    border-radius: 4px;
    color: yellowgreen;
    font-weight: bold;
    cursor: pointer;
    font-size: 1em;
}
.game-control button:hover{
  background: rgb(24, 24, 62);
}
.game-control p{
  font-weight: bold;
  color: yellowgreen;
}


.card-grid {
    grid-column: 2/3;
    margin: 40px 0 40px 0 px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:5px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color:rgba(45, 31, 78, 0.962);
  }

  .go-back{
    grid-column: 2/3;
    background: none;
    border: 2px solid red;
    padding: 3px 6px;
    border-radius: 4px;
    color: yellowgreen;
    font-weight: bold;
    cursor: pointer;
    font-size: 1em;
    margin:10px 0 0 0;
    text-decoration: none;
  }
  .go-back:hover{
    background-color: rgb(28, 28, 76);
  }
  @media (max-width:800px){
    .Game{
      border:none;
      box-shadow: none;
    }
    .card-grid{
      gap:3px;
    }
  }
  
